body{
    background-color: aqua;
}
h1{
    color: red;
}
img{
    border:2px solid blue;
    padding: auto;
    border-radius: 50px;
    width:200px;height: 200px;
}


.mainmanu{margin:0;padding:0; list-style: none;}
.mainmanu li{float:left;border-right: solid white;}
.mainmanu li a{display: block;padding: 5px;background-color:gainsboro;text-decoration:none;}
.mainmanu li a:hover{background: red;}
